@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    border: 1px solid #eaeaef;
  }
  input:focus-visible {
    outline: none;
    border-color: #0077fe;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
